<!DOCTYPE html>
<html>

<head>
    <% include ../partials/trangchu/head %>
    <title>Trang Chủ - TB TEST</title>
</head>

<body>
    <% include ../partials/trangchu/header %>
    <header class="masthead bg-primary text-white text-center b-head" style="background-position: top;background-size: cover;background-repeat: no-repeat;height: 100vh;">
        <div class="container">
            <p class="ml-2" id="ha-test" style="color: #259932;font-size: 65px!important;font-family: Montserrat, sans-serif;margin: 0;"><b>TB TEST</b></p>
            <p id="ha-test2" style="color: #259932;font-family: Montserrat, sans-serif;font-size: 22px!important;">Website tạo và chấm đề trực tuyến</p>
            <div>
                <div class="row gr-1 b-mod">
                    <div class="col col-6">
                        <button id="log" class="btn btn-danger bo-tron dndk" data-aos="fade-left" data-aos-duration="500" data-aos-delay="950" type="button" style="font-family: Montserrat, sans-serif;background: #266FBE;  border:none;">ĐĂNG NHẬP</button>
                    </div>
                    <div class="col col-6">
                        <button id="reg" class="btn btn-danger bo-tron dndk" data-aos="fade-left" data-aos-duration="500" data-aos-delay="950" type="button" style="font-family: Montserrat, sans-serif;background: #266FBE;  border:none;">ĐĂNG KÍ</button>
                    </div>
                </div>
                <div class="row gr-1 b-mod"><br></div>
                <div class="row gr-1 b-mod">
                    <div class="col">
                        <img style="position: relative; left: 50px" src="assets/img/large_logo.png">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <% include ../partials/trangchu/footer %>
</body>

</html>