<header class="masthead bg-primary text-white text-center" style="background-position: top;background-size: cover;background-repeat: no-repeat;height: 100vh;">
    <div class="container">
        <p class="invisible" id="ha-test" style="color: rgb(245,14,83);font-size: 55px;font-family: Montserrat, sans-serif;margin: 0;">HA TEST</p>
        <div>
            <div class="row gr-1">
                <div class="col col-12" data-aos="fade-up">
                    <div class="card">