<script>
	function baoloi() {
		Swal.fire({
		    title: 'Hế lô, xin chào :3',
		    text: "Nếu tìm thấy lỗi vui lòng chụp ảnh màn hình lỗi và gửi cho tui mau!!",
		    icon: 'info',
		    showCancelButton: true,
		    confirmButtonColor: '#3085d6',
		    cancelButtonColor: '#d33',
		    confirmButtonText: 'Vào trang cá nhân của tác giả!'
		}).then((result) => {
		    if (result.value) {
		        window.open("https://www.facebook.com/hacccu2004", '_blank');
		    }
		})
	}
</script>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav" style="background-color: rgba(254,254,254,0)!important;">
    <div class="container"><a href="."><img id="logo" src="../assets/img/logo.png"></a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgba(255,255,255,0)!important;border-width: 0px;"><i class="fas fa-bars" style="color: rgb(0,0,0);font-size: 20px;"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1" role="presentation"><a href="https://www.facebook.com/TranBienConfessions" target="_blank" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-aos="fade-up" data-aos-duration="500" style="color: #259932;-webkit-text-stroke: 1px black;font-size: 20px">TB CONFESSIONS</a></li>
                <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-aos="fade-up" data-aos-duration="500" href="#" style="color: #259932;-webkit-text-stroke: 1px black;font-size: 20px">QUẢN TRỊ ĐĂNG NHẬP</a></li>
                <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-aos="fade-up" data-aos-duration="500" href='#' onclick='baoloi()' style="color: #259932;-webkit-text-stroke: 1px black;font-size: 20px">BÁO LỖI</a></li>
            </ul>
        </div>
    </div>
</nav>